<template>
	<v-container grid-list-md class="home-container">
		<v-layout row wrap justify-center>
			<v-flex xs12>
				<h1>{{ shop_name }}</h1>
			</v-flex>
			<v-flex xs6 class="mt-3">
				<v-card>
					<v-card-media :src="url + '/images/domestic.jpg'" height="200"></v-card-media>

					<v-card-title primary-title>
						<div>
							<h3 class="headline mb-0">{{ lang.home_dom }}</h3>
							<div>
								{{ lang.home_dom_desc }}
							</div>
						</div>
					</v-card-title>

					<v-card-actions>
						<v-spacer></v-spacer>
			          	<v-btn flat color="info" @click="domestic">{{ lang.select }}</v-btn>
			        </v-card-actions>
				</v-card>
			</v-flex>
			<v-flex xs6 class="mt-3">
				<v-card>
					<v-card-media :src="url + '/images/international.jpg'" height="200"></v-card-media>

					<v-card-title primary-title>
						<div>
							<h3 class="headline mb-0">{{ lang.home_int }}</h3>
							<div>
								{{ lang.home_int_desc }}
							</div>
						</div>
					</v-card-title>

					<v-card-actions>
						<v-spacer></v-spacer>
			          	<v-btn flat color="info" @click="international">{{ lang.select }}</v-btn>
			        </v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>

export default {
	props: ['lang', 'url', 'shop_id', 'shop_name'],
	data() {
		return {

		}
	},

	created(){

	},

	methods: {
		domestic(){
			window.location = this.url + '/domestic/' + this.shop_id;
		},       
		international(){
			window.location = this.url + '/international/' + this.shop_id;
		}

	}
}
</script>