<template>
<div class="domestic-destination-module">
    <v-container grid-list-md>
        <v-layout row wrap justify-center>
            <v-flex xs12>
                <h1>{{ lang.domestic_destination_title }}</h1>
            </v-flex>
            <v-flex xs12>
                <div class="text-xs-center">
                    <v-radio-group row v-model="destination_type" @change="updateShippingInformation">
                        <v-radio value="address" :label="lang.domestic_address"></v-radio>
                        <v-radio value="airport" :label="lang.domestic_airport"></v-radio>
                    </v-radio-group>
                </div>
                <v-layout row wrap v-if="destination_type == 'address'">
                    <v-flex xs12>
                        <v-text-field v-model="addressInfo.name" :label="lang.traveler_name" @input="updateShippingInformation"></v-text-field>
                        <v-text-field v-model="addressInfo.email" :label="lang.traveler_email" :error-messages="error_messages.errorAddressEmail"></v-text-field>
                        <v-text-field v-model="addressInfo.tel" :label="lang.traveler_tel" @input="updateShippingInformation"></v-text-field>
                        <v-select :items="prefectures" item-text="name" item-value="id" v-model="addressInfo.prefecture" autocomplete :label="lang.destination_prefecture" class="input-group--focused"></v-select>
                        <v-text-field v-model="addressInfo.company_name" :label="lang.hotel_company_name" @input="updateShippingInformation"></v-text-field>
                        <v-text-field textarea v-model="addressInfo.address" :label="lang.destination_address" @input="updateShippingInformation"></v-text-field>
                        <v-text-field v-model="addressInfo.post_code" :label="lang.destination_postcode" @input="updateShippingInformation"></v-text-field>
                        <v-menu ref="addressDeliveryDate" :close-on-content-click="false" :nudge-right="40" :return-value.sync="addressInfo.delivery_date" lazy transition="scale-transition" offset-y full-width min-width="290px">
                            <v-text-field slot="activator" v-model="addressInfo.delivery_date" :label="lang.delivery_date" prepend-icon="event" readonly :error-messages="error_messages.errorAddressDeliveryDate"></v-text-field>
                            <v-date-picker v-model="addressInfo.delivery_date" @input="$refs.addressDeliveryDate.save(addressInfo.delivery_date)"></v-date-picker>
                        </v-menu>
                    </v-flex>
                </v-layout>
                <v-layout row wrap v-else>
                    <v-flex md6 xs12>
                        <div id="map"></div>
                        <div class="mt-4">
                            <v-text-field v-model="airportInfo.delivery_date" :label="lang.delivery_date" prepend-icon="event" disabled :error-messages="error_messages.errorAirportDeliveryDate"></v-text-field>
                            <!-- <v-menu ref="airportDeliveryDate" :close-on-content-click="false" :nudge-right="40" :return-value.sync="airportInfo.delivery_date" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                <v-text-field slot="activator" v-model="airportInfo.delivery_date" :label="lang.delivery_date" prepend-icon="event" readonly :error-messages="error_messages.errorAirportDeliveryDate"></v-text-field>
                                <v-date-picker v-model="airportInfo.delivery_date" @input="$refs.airportDeliveryDate.save(airportInfo.delivery_date)"></v-date-picker>
                            </v-menu> -->
                            <v-text-field v-model="airportInfo.name" :label="lang.traveler_name" @input="updateShippingInformation"></v-text-field>
                            <v-text-field v-model="airportInfo.email" :label="lang.traveler_email" :error-messages="error_messages.errorAirportEmail"></v-text-field>
                            <v-text-field v-model="airportInfo.tel" :label="lang.traveler_tel" @input="updateShippingInformation"></v-text-field>
                        </div>
                    </v-flex>
                    <v-flex md6 xs12>
                        <h2>{{ lang.label_select_airport }}</h2>
                        <v-radio-group v-model="airportInfo.selectedAirport" @change="updateShippingInformation">
                            <v-radio v-for="(airport, index) in airports" :value="airport.id" :label="airport.name"></v-radio>
                        </v-radio-group>
                        
                        <h2>{{ lang.label_input_departure_flight_info }}</h2>
                        <div class="airport-info-box pa-3">
                            <div class="airport-info">
                                <v-subheader>{{ lang.airport_information }}</v-subheader>
                                <p v-if="airportInfo.selectedAirport != 0">
                                    {{ airportInfo.airport_name }}
                                    <br>
                                    {{ airportInfo.airport_address }}
                                    <br>
                                    {{ airportInfo.airport_tel }}
                                    <br>
                                    {{ airportInfo.airport_postcode }}
                                </p>
                            </div>

                            <v-text-field v-model="airportInfo.flight_number" :label="lang.flight_no" @input="updateShippingInformation"></v-text-field>

                            <v-menu ref="airportDepartureDate" :close-on-content-click="false" :nudge-right="40" :return-value.sync="airportInfo.departure_date" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                <v-text-field slot="activator" v-model="airportInfo.departure_date" :label="lang.departure_date" prepend-icon="event" readonly></v-text-field>
                                <v-date-picker v-model="airportInfo.departure_date" @input="$refs.airportDepartureDate.save(airportInfo.departure_date)"></v-date-picker>
                            </v-menu>
                            
                            <v-menu ref="airportDepartureTime" :close-on-content-click="false" :nudge-right="40" :return-value.sync="airportInfo.departure_time" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                <v-text-field slot="activator" v-model="airportInfo.departure_time" :label="lang.departure_time" prepend-icon="access_time"readonly></v-text-field>
                                <v-time-picker v-model="airportInfo.departure_time" @change="$refs.airportDepartureTime.save(airportInfo.departure_time)"></v-time-picker>
                            </v-menu>

                            <!-- <v-text-field v-model="airportInfo.delivery_date" :label="lang.delivery_date" disabled></v-text-field> -->
                        </div>
                    </v-flex>
                </v-layout>
            </v-flex>
            <!-- <v-flex md3 xs12>
                <sidebar-shippinginformation :url="url" :lang="lang" :shipping_information="shipping_information"></sidebar-shippinginformation>
            </v-flex> -->
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "prefectures", "airports", "today", "shipping_information"],

    data() {
        return {
            destination_type: "airport",
            airportInfo: {
                selectedAirport: 0,
                airport_name: "",
                airport_address: "",
                airport_tel: "",
                airport_postcode: "",
                flight_number: "",
                departure_date: "",
                departure_time: null,
                name: "",
                email: "",
                tel: "",
                delivery_date: null,
                valid_form: false
            },
            addressInfo: {
                prefecture: 0,
                prefecture_name: "",
                address: "",
                post_code: "",
                name: "",
                email: "",
                tel: "",
                company_name: "",
                delivery_date: null,
                valid_form: false
            },
            showAirportForm: true,
            showAddressForm: false,
            error_messages: {
                errorAddressDeliveryDate: [],
                errorAirportDeliveryDate: [],
                errorAddressEmail: [],
                errorAirportEmail: []
            }
        };
    },

    computed: {
        
    },

    watch: {
        'addressInfo.prefecture': function(){
            this.updatePrefectureName();
            this.updateShippingInformation();
        },
        'airportInfo.delivery_date': function(){
            var minDate = this.minAirportDeliveryDate(this.today);
            var d1 = new Date(minDate);
            var d2 = new Date(this.airportInfo.delivery_date);
            if (d2 < d1) {
                this.error_messages.errorAirportDeliveryDate = this.lang.error_domestic_airport_delivery_date;
            }
            else{
                this.error_messages.errorAirportDeliveryDate = [];
            }
            this.updateShippingInformation();
        },
        'addressInfo.delivery_date': function(){
            var minDate = this.minAddressDeliveryDate(this.today);
            var d1 = new Date(minDate);
            var d2 = new Date(this.addressInfo.delivery_date);
            if (d2 < d1) {
                this.error_messages.errorAddressDeliveryDate = this.lang.error_domestic_address_delivery_date;
            }
            else{
                this.error_messages.errorAddressDeliveryDate = [];
            }
            this.updateShippingInformation();
        },
        'addressInfo.email': function(){
            var check = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.addressInfo.email);
            if (!check) {
                this.error_messages.errorAddressEmail = this.lang.email_must_valid;
            }
            else {
                this.error_messages.errorAddressEmail = [];
            }
            this.updateShippingInformation();
        },
        'airportInfo.email': function(){
            var check = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.airportInfo.email);
            if (!check) {
                this.error_messages.errorAirportEmail = this.lang.email_must_valid;
            }
            else {
                this.error_messages.errorAirportEmail = [];
            }
            this.updateShippingInformation();
        },
        'airportInfo.departure_date': function(val){
            this.airportInfo.delivery_date = val;
        }
    },

    mounted() {
        this.initMap();
    },

    created() {

    },

    updated(){
        this.initMap();
    },

    methods: {
        updateShippingInformation(){
            if (this.destination_type == 'address') {
                if (this.error_messages.errorAddressDeliveryDate.length > 0 ||
                    this.error_messages.errorAddressEmail.length > 0) {
                    this.addressInfo.valid_form = false;
                }
                else {
                    this.addressInfo.valid_form = true;
                }
            }
            else {
                if (this.error_messages.errorAirportDeliveryDate.length > 0 ||
                    this.error_messages.errorAirportEmail.length > 0) {
                    this.airportInfo.valid_form = false;
                }
                else {
                    this.airportInfo.valid_form = true;
                }
            }
            var obj = {};
            if (this.destination_type == 'address') {
                obj['destination_info'] = this.addressInfo;
            }
            else{
                obj['destination_info'] = this.airportInfo;
            }
            obj['destination_type'] = this.destination_type;
            this.$emit('updateShippingInformation', obj);
            this.getAirportData();
        },
        updatePrefectureName(){
            var prefId = this.addressInfo.prefecture;
            for (var i = 0; i < this.prefectures.length; i++) {
                var pref = this.prefectures[i];
                if (parseInt(this.addressInfo.prefecture) == parseInt(pref.id)) {
                    this.addressInfo.prefecture_name = pref.name;
                    break;
                }
            }
        },
        getAirportData(){
            var airportId = parseInt(this.airportInfo.selectedAirport);
            for (var i = 0; i < this.airports.length; i++) {
                if (parseInt(this.airports[i].id) == airportId) {
                    this.airportInfo.airport_name = this.airports[i].name;
                    this.airportInfo.airport_address = this.airports[i].address;
                    this.airportInfo.airport_tel = this.airports[i].tel;
                    this.airportInfo.airport_postcode = this.airports[i].postcode;
                    break;
                }
            }
        },
        initMap(){
            var self = this;
            if (this.destination_type == 'airport') {
                if (!$('#map')) {
                    return false;
                }
                if ($('#map')) {
                    if ($('#map').children().length > 0) {
                        return false;
                    }
                }

                var coordinate = {lat: 35.4875472, lng: 137.5602275};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    center: coordinate
                });

                var image = {
                    url: this.url+"/images/airport.png",
                    // This marker is 20 pixels wide by 32 pixels high.
                    scaledSize: new google.maps.Size(40, 40),
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };
                
                var infowindow = new google.maps.InfoWindow();
                for(var i=0; i < this.airports.length; i++)
                {
                    var airport = this.airports[i];
                    var airport_coordinate = {lat: airport.latitude, lng: airport.longitude};
                    var marker = new google.maps.Marker({
                        id: airport.id,
                        position: airport_coordinate,
                        title: airport.name,
                        map: map,
                        icon: image
                    });

                    marker.addListener('click', (function(marker, i) {
                        return function() {
                            self.selectAirportMapPin(marker.id);
                        };
                    })(marker, i));
                }  
            }
        },
        selectAirportMapPin(id){
            this.airportInfo.selectedAirport = id;
            this.getAirportData();
        },
        formatDate(date){
            var dd = date.getDate();
            if (parseInt(dd) < 10) {
                dd = "0"+dd.toString();
            }
            var mm = date.getMonth() + 1;
            if (parseInt(mm) < 10) {
                mm = "0"+mm.toString();
            }
            var y = date.getFullYear();

            var formattedDate = y + '-' + mm + '-' + dd;
            return formattedDate;
        },
        minAddressDeliveryDate(){
            var result = new Date(this.today);
            result.setDate(result.getDate() + 2);
            var formattedDate = this.formatDate(result);

            return formattedDate;
        },
        minAirportDeliveryDate(){
            var result = new Date(this.today);
            result.setDate(result.getDate() + 3);
            var formattedDate = this.formatDate(result);

            return formattedDate;
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

$domestic-destination-map-height: 450px;

.domestic-destination-module {
    #map {
        height: $domestic-destination-map-height;
        width: 100%;
    }

    .airport-info-box{
        border: solid 5px #ccc;
        background-color: #eee;
    }
}

</style>
