<template>
<div class="domestic-finish-module">
    <v-container grid-list-md>
        <v-layout row wrap justify-center>
            <v-flex xs12>
                <h1>
                    {{ lang.finish_step_title1 }}<br>{{ lang.finish_step_title2 }}
                </h1>
            </v-flex>
            <v-flex md6 xs12>
                <p>
                    {{ lang.finish_step_instruction1 }}
                </p>
                <div id="printarea">
                    <ul>
                        <li>
                            {{ lang.order_no }}: {{ shipping_information.shipping_code }}
                        </li>
                        <li>
                            {{ lang.order_date }}: {{ today }}
                        </li>
                        <li>
                            {{ lang.shop_name }}: {{ shipping_information.shop_name }}
                        </li>
                        <li>
                            {{ lang.destination_address }}: {{ address }} 
                        </li>
                        <li v-if="shipping_information.destination_info != null">
                            {{ lang.delivery_date }}: {{ shipping_information.destination_info.delivery_date }}
                        </li>
                        <li v-if="shipping_information.destination_type == 'address' && shipping_information.destination_info != null">
                            {{ lang.customer_name }}: {{ shipping_information.destination_info.name }}
                        </li>
                        <li v-if="shipping_information.destination_type == 'address' && shipping_information.destination_info != null">
                            {{ lang.hotel_company_name }}: {{ shipping_information.destination_info.company_name }}
                        </li>
                        <li v-if=" shipping_information.destination_info != null">
                            {{ lang.customer_tel }}: {{ shipping_information.destination_info.tel }}
                        </li>
                        <li>
                            {{ lang.parcel_size }}: {{ shipping_information.size }}cm
                        </li>
                        <li v-if="shipping_information.destination_info != null">
                            {{ lang.traveler_email }}: {{ shipping_information.destination_info.email }}
                        </li>
                        <li>
                            {{ lang.weight }}: {{ shipping_information.weight }}kg
                        </li>
                        <li>
                            {{ lang.packing }}: {{ shipping_information.packing_status ? lang.head_packed : lang.head_nonpacked }}
                        </li>
                        <li>
                            {{ lang.product_detail_list }}: {{ contents }}
                        </li>
                        <li>
                            {{ lang.total_cost }}: ¥{{ formatPrice(shipping_information.shipping_cost) }}
                        </li>
                    </ul>
                </div>
                <p>
                    {{ lang.finish_step_instruction2 }}
                    <br>
                    {{ lang.finish_step_instruction2_1 }}
                    <br><br>
                    {{ lang.support_center }}:
                    <br>
                    {{ lang.support_center_info }}
                </p>
                <div class="text-xs-center">
                    <v-btn color="info" @click="printSlip">{{ lang.print }}</v-btn>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "shipping_information", "today", "contentitems", "user"],

    data() {
        return {

        };
    },

    computed: {
        contents(){
            var string = "";
            if (this.shipping_information.items != null) {
                for (var i = 0; i < this.shipping_information.items.length; i++) {
                    var item = this.shipping_information.items[i];
                    var content_item_id = item.content_item;
                    var content = this.contentitems.find(item => parseInt(item.id) === parseInt(content_item_id));
                    if (content != null) {
                        if (string == "") {
                            string += content.name + " ("+this.formatPrice(item.piece)+" @¥"+this.formatPrice(item.price)+")";
                        }
                        else {
                            string += ", " + content.name + " ("+this.formatPrice(item.piece)+" @¥"+this.formatPrice(item.price)+")";
                        }
                        
                    }
                }
            }
            return string;
        },
        address(){
            var str = "";
            if (this.shipping_information.destination_info != null) {
                if (this.shipping_information.destination_type == 'address') {
                    str = this.shipping_information.destination_info.address + ", " + this.shipping_information.destination_info.prefecture_name + ", " + this.shipping_information.destination_info.post_code;
                }
                else {
                    str = this.shipping_information.destination_info.airport_name + ", " + this.shipping_information.destination_info.airport_address + ", " + this.shipping_information.destination_info.airport_tel + ", " + this.shipping_information.destination_info.airport_postcode;
                }
            }
            return str;
        }
    },

    mounted() {

    },

    created() {

    },

    methods: {
        formatPrice(value) {
            let val = (value/1);
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        printSlip(){
            var divToPrint = document.getElementById('printarea');
            var newWin = window.open('','Print-Window');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
            newWin.document.close();
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";


</style>
