<template>
<div class="domestic-rules-module">
    <v-container grid-list-md>
        <v-layout row wrap justify-center class="mt-3">
            <v-flex xs12>
                <h1>{{ lang.domestic_rule }}</h1>
            </v-flex>
            <v-flex md6 xs12>
                <img :src="url + '/images/sizeimage.jpg'" class="mx-auto mb-3">
                <table>
                    <tr>
                        <td><b>{{ lang.rule_size }}</b></td>
                        <td>{{ lang.rule_size1_domestic }} {{ lang.meters }}</td>
                    </tr>
                    <tr>
                        <td><b>{{ lang.rule_weight }}</b></td>
                        <td>{{ lang.rule_weight1_domestic }} {{ lang.kilograms }}</td>
                    </tr>
                    <tr>
                        <td><b>{{ lang.rule_price }}</b></td>
                        <td>{{ lang.rule_price1_domestic }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ lang.rule_price2_domestic }}<br>{{ lang.rule_price3_domestic }}</td>
                    </tr>
                </table>
                <!-- <p class="mt-3">{{ lang.rule_notice }}</p> -->
            </v-flex>
            <v-flex md6 xs12>
                <table>
                    <tr>
                        <td><b>{{ lang.rule_goods }}</b></td>
                        <td>{{ lang.rule_goods1 }}</td>
                    </tr>
                </table>
                <v-flex xs12 class="mt-4">
                    <img :src="url + '/images/prohibit-items1.png'" alt="">
                    <img :src="url + '/images/prohibit-items2.png'" alt="">
                    <img :src="url + '/images/prohibit-items3.png'" alt="">
                </v-flex>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "locale"],

    data() {
        return {
            
        };
    },

    computed: {
        
    },

    mounted() {

    },

    created() {

    },

    methods: {
        formatPrice(value) {
            let val = (value/1);
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

.domestic-rules-module{
    table{
        td{
            vertical-align: text-top;

            &:first-child{
                width: 30%;
            }
        }
    }
}

</style>
