<template>
<div class="domestic-payment-module">
    <v-container grid-list-md>
        <v-layout row wrap justify-center>
            <v-flex md11 xs12>
                <h1 class="mb-0">{{ lang.domestic_payment_title }}</h1>
                <h2 class="mb-4">{{ lang.domestic_payment_title_note }}</h2>
                <v-layout row wrap>
                    <v-flex xs6 class="text-xs-right">
                        <h3>{{ lang.total_delivery_amount }}</h3>
                    </v-flex>
                    <v-flex xs6 class="text-xs-right">
                        <h3>{{ formatPrice(shipping_information.shipping_cost) }}円</h3>
                    </v-flex>
                    <v-flex xs12>
                        <v-subheader>{{ lang.payment_method }}</v-subheader>
                        <v-radio-group row v-model="payment_method" @change="updateShippingInformation">
                            <v-radio value="Credit Card" :label="lang.credit_card"></v-radio>
                        </v-radio-group>
                    </v-flex>
                    <v-flex xs12>
                        <sidebar-shippinginformation :url="url" :lang="lang" :shipping_information="shipping_information"></sidebar-shippinginformation>
                    </v-flex>
                    <v-flex xs12 class="text-xs-center">
                        <v-btn color="info" id="pay" @click="loadCheckout" :disabled="payment_method == ''">{{ lang.pay }} ¥{{ formatPrice(shipping_information.shipping_cost) }}</v-btn>
                        <input type="hidden" id="stripeToken" name="stripeToken" value="">
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "stripe", "shipping_information"],

    data() {
        return {
            payment_method: ""
        };
    },

    computed: {
        
    },

    mounted() {

    },

    created() {

    },

    methods: {
        updateShippingInformation(){
            var obj = {};
            obj['payment_method'] = this.payment_method;

            this.$emit('updateShippingInformation', obj);
        },
        loadCheckout() {
            var self = this;
            var handler = StripeCheckout.configure({
                key: this.stripe.pk_key,
                image:'https://stripe.com/img/documentation/checkout/marketplace.png',
                locale:'auto',
                token:function(token) {
                    //console.log(token);
                    $("#stripeToken").val(token.id);

                    var data = {
                        "token" : token,
                        "shipping_information": self.shipping_information,
                    }
                    self.newOrder(data);
                }
            });
            // Open Checkout with further options:
            handler.open({
                name: this.stripe.app_name,
                description: 'Shipping Payment',
                currency: this.stripe.currency,
                locale: 'auto',
                email: this.stripe.email,
                amount: this.shipping_information.shipping_cost
            });

            window.addEventListener('popstate', function() {
                handler.close();
            });
        },
        newOrder(data){
            var self = this;
            self.$emit('loading', true);
            axios.post(this.url + "/saveorder", {
                data: data
            })
            .then(({data}) => {
                if (data.status == 'success') {
                    self.$emit('updateShippingInformation', {shipping_code: data.data});
                    self.$emit('paymentDone', true);
                }
            })
            .catch(function (error) {
                
            });
        },
        formatPrice(value) {
            let val = (value/1);
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";


</style>
