<template>
<div class="domestic-cost-module">
    <v-container fluid>
        <v-layout row justify-center>
            <v-flex xs12>
                <h1>{{ lang.domestic_cost_title }}</h1>
                <v-layout row wrap>
                    <v-flex xs12 md4>
                        <img :src="url + '/images/domesticrate_1.png'" alt="" class="mx-auto">
                    </v-flex>
                    <v-flex xs12 md8>
                        <div class="responsive-table">
                            <table class="table table-bordered table-hover" border="1">
                                <thead>
                                <tr>
                                    <th colspan="8" class="text-xs-center" style="background-color:#ff98a5;">{{ lang.domestic_shipping_cost }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-xs-center" colspan="2">{{ lang.domestic_other_pref }}</td>
                                        <td class="text-xs-center longtd" colspan="2">{{ lang.domestic_include_pref }}</td>
                                        <td class="text-xs-center" colspan="2">{{ lang.domestic_airport }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-xs-center">{{ lang.head_weight }}</td>
                                        <td class="text-xs-center">{{ lang.head_total_size }}</td>
                                        <td class="text-xs-center">{{ lang.head_packed }}</td>
                                        <td class="text-xs-center">{{ lang.head_nonpacked }}</td>
                                        <td class="text-xs-center">{{ lang.head_packed }}</td>
                                        <td class="text-xs-center">{{ lang.head_nonpacked }}</td>
                                        <td class="text-xs-center">{{ lang.head_packed }}</td>
                                        <td class="text-xs-center">{{ lang.head_nonpacked }}</td>
                                    </tr>
                                    <tr v-for="(totalsize, weight) in pricetable" :key="weight">
                                        <td>≤{{ weight }}</td>
                                        <template v-for="(value, size) in totalsize">
                                        <td>≤{{ size }}</td>
                                            <template v-for="(price, index) in value">
                                                <td v-if="index%2 == 0" style="background-color: #ff98a5;">¥{{ formatPrice(price.price) }}</td>
                                                <td v-else>¥{{ formatPrice(price.price) }}</td>
                                            </template>
                                        </template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </v-flex>
                    <v-flex xs12>
                        <h4 class="mt-3">{{ lang.domestic_cost_warning }}</h4>
                        <ul>
                            <li>{{ lang.domestic_cost_warning1 }}</li>
                            <li>{{ lang.domestic_cost_warning2 }}</li>
                            <li>{{ lang.domestic_cost_warning3 }}</li>
                            <li>{{ lang.domestic_cost_warning4 }}</li>
                        </ul>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "pricetable"],

    data() {
        return {
            
        };
    },

    computed: {
        
    },

    mounted() {

    },

    created() {

    },

    methods: {
        formatPrice(value) {
            let val = (value/1);
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

.domestic-cost-module{
    .responsive-table{
        overflow-x: auto;

        table {
            th {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                height: auto;
                font-size: $domestic-cost-table-title;
            }

            td {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                height: auto;
                width: $domestic-cost-table-td-width + 2rem;

                &.longtd{
                    word-break: break-word;
                    white-space: pre-wrap;
                }

                &:nth-child(1),
                &:nth-child(2){
                    width: $domestic-cost-table-td-width;
                }
            }
        }
    }
}

</style>
