<template>
<div class="domestic-size-module">
    <v-container fluid>
        <v-layout row wrap justify-center>
            <v-flex md8 xs12>
                <h1>{{ lang.domestic_size_title }}</h1>
                <v-layout row wrap>
                    <v-flex md4 xs12>
                        <v-subheader>{{ lang.packing_status }}</v-subheader>
                    </v-flex>
                    <v-flex md8 xs12>
                        <v-radio-group v-model="packing_status" @change="updateShippingInformation($event, 'packing_status')">
                            <v-radio :value="1" :label="lang.packing_yes"></v-radio>
                            <v-radio :value="0">
                                <template slot="label">
                                    {{ lang.packing_no1 }}<br>
                                    <span color="blue">{{ lang.packing_no2 }}</span><br>
                                    {{ lang.packing_no3 }}
                                </template>
                            </v-radio>
                        </v-radio-group>
                    </v-flex>
                </v-layout>
                <v-text-field :label="lang.label_total_size" class="totalsize" @input="updateShippingInformation($event, 'size')"></v-text-field>
                <v-text-field :label="lang.head_weight" @input="updateShippingInformation($event, 'weight')"></v-text-field>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang"],

    data() {
        return {
            packing_status: 1
        };
    },

    computed: {
        
    },

    mounted() {

    },

    created() {

    },

    methods: {
        updateShippingInformation(value, key){
            var obj = {};
            obj[key] = value;
            this.$emit('updateShippingInformation', obj);
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

</style>
