<template>
<div class="domestic-items-module">
    <v-container grid-list-md>
        <v-layout row wrap justify-center>
            <v-flex xs12>
                <h1>{{ lang.domestic_items_title }}</h1>
                <v-layout row wrap class="hidden-xs-only">
                    <v-flex xs3>
                        <v-subheader class="text-xs-center">{{ lang.head_item_name }}</v-subheader>
                    </v-flex>
                    <v-flex xs3>
                        <v-subheader class="text-xs-center">{{ lang.head_unit_price }}</v-subheader>
                    </v-flex>
                    <v-flex xs1>
                        <v-subheader class="text-xs-center">{{ lang.head_unit_pieces }}</v-subheader>
                    </v-flex>
                    <v-flex xs4>
                        <v-subheader class="text-xs-center">{{ lang.head_total_price }}</v-subheader>
                    </v-flex>
                    <v-flex xs1>
                    </v-flex>
                </v-layout>
                <v-layout row wrap v-for="(item, index) in items" :key="index">
                    <v-flex sm3 xs12>
                        <v-select :items="contentitems" :label="lang.items" item-text="name" item-value="id" v-model="item.content_item" autocomplete @change="updateShippingInformation"></v-select>
                    </v-flex>
                    <v-flex sm3 xs3>
                        <v-text-field v-model="item.price" :label="lang.head_unit_price" @input="updateShippingInformation"></v-text-field>
                    </v-flex>
                    <v-flex sm1 xs3>
                        <v-text-field :label="lang.label_item_piece_max" single-line v-model="item.piece" type="number" @input="updateShippingInformation" min="1" max="99"></v-text-field>
                    </v-flex>
                    <v-flex sm4 xs4>
                        <v-text-field disabled :label="lang.head_total_price" :value="totalPriceEachItem(index)"></v-text-field>
                    </v-flex>
                    <v-flex sm1 xs2>
                        <v-btn icon color="error" @click="deleteItem(index)" v-if="index > 0"><v-icon>delete</v-icon></v-btn>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs7>
                        <v-subheader class="text-xs-right">{{ lang.head_grand_total_price }}</v-subheader>
                    </v-flex>
                    <v-flex xs4>
                        <v-text-field disabled :value="formatPrice(grandTotal)"></v-text-field>
                    </v-flex>
                    <v-flex xs12 class="text-xs-right">
                        <v-btn icon color="info" @click="addItem"><v-icon>add</v-icon></v-btn>
                    </v-flex>
                </v-layout>
            </v-flex>
            <!-- <v-flex md3 xs12>
                <sidebar-shippinginformation :url="url" :lang="lang" :shipping_information="shipping_information"></sidebar-shippinginformation>
            </v-flex> -->
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "contentitems", "shipping_information"],

    data() {
        return {
            items: [{
                content_item: 0,
                price: "",
                piece: ""
            }]
        };
    },

    computed: {
        grandTotal(){
            var total = 0;
            for (var i = 0; i < this.items.length; i++) {
                total += this.items[i].price * this.items[i].piece;
            }
            return total
        }
    },

    mounted() {

    },

    created() {

    },

    methods: {
        updateShippingInformation(){
            var obj = {};
            obj['items'] = this.items;

            var total_qty = 0;
            var grand_total = 0;
            for (var i = 0; i < this.items.length; i++) {
                if (this.items[i].price < 0) {
                    this.items[i].price = Math.abs(this.items[i].price);
                }
                if (this.items[i].piece < 0) {
                    this.items[i].piece = 1;
                }
                if (this.items[i].piece > 99) {
                    this.items[i].piece = 99;
                }
                var item = this.items[i];
                total_qty += parseInt(item.piece);
                grand_total += parseInt(item.price) * parseInt(item.piece);
            }
            obj['items_total_qty'] = total_qty;
            obj['items_grand_total'] = grand_total;
            this.$emit('updateShippingInformation', obj);
        },
        addItem(){
            this.items.push({
                content_item: 0,
                price: "",
                piece: ""
            });
            this.updateShippingInformation();
        },
        deleteItem(index){
            this.items.splice(index, 1);
            this.updateShippingInformation();
        },
        totalPriceEachItem(index){
            var total = this.items[index].price * this.items[index].piece;
            return this.formatPrice(total)
        },
        formatPrice(value) {
            let val = (value/1);
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";


</style>
