<template>
<div class="domestic">
	<v-stepper v-model="currentStep">
		<v-stepper-header>
			<v-stepper-step :complete="currentStep > 1" step="1">{{ lang.rules }}</v-stepper-step>
			<v-divider></v-divider>
			<v-stepper-step :complete="currentStep > 2" step="2">{{ lang.cost }}</v-stepper-step>
			<v-divider></v-divider>
			<v-stepper-step :complete="currentStep > 3" step="3">{{ lang.size }}</v-stepper-step>
			<v-divider></v-divider>
			<v-stepper-step :complete="currentStep > 4" step="4">{{ lang.items }}</v-stepper-step>
			<v-divider></v-divider>
			<v-stepper-step :complete="currentStep > 5" step="5">{{ lang.destination }}</v-stepper-step>
			<v-divider></v-divider>
			<v-stepper-step :complete="currentStep > 6" step="6">{{ lang.payment }}</v-stepper-step>
			<v-divider></v-divider>
			<v-stepper-step step="7">{{ lang.finish }}</v-stepper-step>
		</v-stepper-header>
		<v-stepper-items>
			<v-stepper-content step="1">
				<domestic-rules :url="url" :lang="lang" :locale="locale"></domestic-rules>
			</v-stepper-content>
			<v-stepper-content step="2">
				<domestic-cost :url="url" :lang="lang" :pricetable="pricetable"></domestic-cost>
			</v-stepper-content>
			<v-stepper-content step="3">
				<domestic-size :url="url" :lang="lang" @updateShippingInformation="updateShippingInformation"></domestic-size>
			</v-stepper-content>
			<v-stepper-content step="4">
				<domestic-items :url="url" :lang="lang" :contentitems="contentitems" :shipping_information="shipping_information" @updateShippingInformation="updateShippingInformation"></domestic-items>
			</v-stepper-content>
			<v-stepper-content step="5">
				<domestic-destination :url="url" :lang="lang" :prefectures="prefectures" :airports="airports" :today="today" :shipping_information="shipping_information" @updateShippingInformation="updateShippingInformation"></domestic-destination>
			</v-stepper-content>
			<v-stepper-content step="6">
				<domestic-payment :url="url" :lang="lang" :stripe="stripe" :shipping_information="shipping_information" @updateShippingInformation="updateShippingInformation" @loading="loading" @paymentDone="paymentDone"></domestic-payment>
			</v-stepper-content>
			<v-stepper-content step="7">
				<domestic-finish :url="url" :lang="lang" :shipping_information="shipping_information" :today="today" :contentitems="contentitems" :user="user"></domestic-finish>
			</v-stepper-content>
		</v-stepper-items>
	</v-stepper>
	<div class="bottom-navigation">
		<v-card flat>
			<v-btn class="prev" color="error" @click="prevStep" v-if="currentStep != 7">{{ lang.prev }}</v-btn>
			<v-btn class="next" color="info" @click="nextStep" v-if="currentStep < 6">{{ lang.next }}</v-btn>
			<v-btn :href="url" class="next" color="info" v-if="currentStep == 7">Back to Home</v-btn>
		</v-card>
	</div>
	<v-snackbar :timeout="snackbarTimeout" :top="snackbarTop" v-model="showSnackbar">
      	{{ snackbarMessage }}
      	<v-btn flat color="pink" @click.native="showSnackbar = false">{{ lang.close }}</v-btn>
    </v-snackbar>

	<v-navigation-drawer v-model="shipping_info_drawer" fixed right clipped-right temporary disable-resize-watcher>
        <v-list dense>
        	<v-container>
            	<sidebar-shippinginformation :url="url" :lang="lang" :shipping_information="shipping_information"></sidebar-shippinginformation>
            </v-container>
        </v-list>
    </v-navigation-drawer>
    <v-btn fixed dark fab bottom right color="teal" @click.stop="shipping_info_drawer = !shipping_info_drawer" v-if="use_info_drawer">
        <v-icon>fas fa-info</v-icon>
    </v-btn>
    <div class="loadingOverlay" v-if="showLoading">
    	<v-progress-circular :size="70" :width="7" color="teal" indeterminate></v-progress-circular>	
    </div>
</div>
</template>

<script>
export default {
	props: ["shop_id", "shop_name", "pricetable", "contentitems", "url", "locale", "lang", "prefectures", "airports", "today", "stripe", "user"],

    data() {
        return {
        	currentStep: parseInt(1),
        	shipping_information: {
        		packing_status: 1,
        		size: null,
        		weight: null,
        		items: null,
        		items_total_qty: null,
        		items_grand_total: null,
        		destination_type: 'airport',
        		destination_info: null,
        		payment_method: "",
        		shipping_cost: null,
        		shipping_type: 'domestic',
        		shipping_code: null,
        		shop_id: this.shop_id,
        		shop_name: this.shop_name
        	},
        	snackbarTop: true,
        	snackbarTimeout: 3000,
        	showSnackbar: false,
        	snackbarMessage: "",
        	shipping_info_drawer: false,
        	use_info_drawer: true,
        	showLoading: false
        };
    },

    computed: {

    },

    mounted() {

    },

    created() {

    },

    watch: {
    	currentStep: function(){
    		this.use_info_drawer = true;
    		if (this.currentStep == 6) {
    			this.use_info_drawer = false;
    		}
    	}
    },

    methods: {
    	prevStep(){
    		this.snackbarMessage = "";
    		if (this.currentStep <= 1) {
    			window.location.href = this.url;
    		}
    		else {
    			this.currentStep = parseInt(this.currentStep) - 1;
    		}
    	},
    	nextStep(){
			if (parseInt(this.currentStep) == 3) {
				if (this.shipping_information.size == null || 
					this.shipping_information.weight == null || 
					this.shipping_information.packing_status == null) {
					this.snackbarMessage = this.lang.fill_all_field;
					this.showSnackbar = true;
					return false;
				}

				if(parseInt(this.shipping_information.size) > 160 || 
					parseInt(this.shipping_information.weight) > 25) {
					this.snackbarMessage = this.lang.exceed_package_size_and_weight;
					this.showSnackbar = true;
					return false;
				}

				if(parseInt(this.shipping_information.size) <= 0 || 
					parseInt(this.shipping_information.weight) <= 0) {
					this.snackbarMessage = this.lang.fill_all_field;
					this.showSnackbar = true;
					return false;
				}
			}
			if (parseInt(this.currentStep) == 4) {
				if (this.shipping_information.items == null) {
					this.snackbarMessage = this.lang.fill_all_field;
					this.showSnackbar = true;
					return false;
				}
				else if(this.shipping_information.items_grand_total == null || 
					isNaN(this.shipping_information.items_grand_total) || 
					this.shipping_information.items_grand_total <= 0){
					this.snackbarMessage = this.lang.fill_all_field;
					this.showSnackbar = true;
					return false;
				}
				else {
					var isValid = true;
					var items = this.shipping_information.items;
					for (var i = 0; i < items.length; i++) {
						if (items[i].content_item == null || 
							items[i].content_item == 0) {
							isValid = false;
							break;
						}
					}
					if (!isValid) {
						this.snackbarMessage = this.lang.fill_all_field;
						this.showSnackbar = true;
						return false;
					}
				}
			}
			if (parseInt(this.currentStep) == 5) {
				if (this.shipping_information.destination_info == null) {
					this.snackbarMessage = this.lang.fill_all_field;
					this.showSnackbar = true;
					return false;
				}
				if (this.shipping_information.destination_type == 'airport') {
					if (this.shipping_information.destination_info.selectedAirport == 0 ||
						this.shipping_information.destination_info.flight_number == "" ||
						this.shipping_information.destination_info.departure_date == "" ||
						this.shipping_information.destination_info.departure_time == null ||
						this.shipping_information.destination_info.tel == "" ||
						this.shipping_information.destination_info.name == "" ||
						this.shipping_information.destination_info.email == "" ||
						this.shipping_information.destination_info.delivery_date == null) {
						this.snackbarMessage = this.lang.fill_all_field;
						this.showSnackbar = true;
						return false;
					}
				}
				else {
					if (this.shipping_information.destination_info.company_name == "" ||
						this.shipping_information.destination_info.prefecture_name == "" ||
						this.shipping_information.destination_info.address == "" ||
						this.shipping_information.destination_info.post_code == "" ||
						this.shipping_information.destination_info.tel == "" ||
						this.shipping_information.destination_info.name == "" ||
						this.shipping_information.destination_info.email == "" ||
						this.shipping_information.destination_info.delivery_date == null) {
						this.snackbarMessage = this.lang.fill_all_field;
						this.showSnackbar = true;
						return false;
					}
				}
				if (!this.shipping_information.destination_info.valid_form) {
					this.snackbarMessage = this.lang.fill_all_field;
					this.showSnackbar = true;
					return false;
				}
			}

    		this.currentStep = parseInt(this.currentStep) + 1;
    		if (this.currentStep > 7) {
    			this.currentStep = 7;
    		}
    	},
    	updateShippingInformation(params){
    		for(var key in params){
    			this.shipping_information[key] = params[key];
    		}
    		this.loadShippingCost();
    	},
    	loading(){
    		this.showLoading = true;
    	},
    	paymentDone(value){
    		if (value) {
    			this.showLoading = false;
    			this.currentStep = 7;
    		}
    	},
        loadShippingCost(){
            axios.post(this.url + "/getshippingcost", {
                shipping_information: this.shipping_information
            })
            .then(({data}) => {
                if (data.status == 'success') {
                	this.shipping_information.shipping_cost = data.data.price;
                }
                else {
                	this.shipping_information.shipping_cost = 0;
                }
            })
            .catch(function (error) {
                
            });
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

.domestic{
	.loadingOverlay{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.8);

		.progress-circular{
			position: fixed;
			top: 45%;
			left: 47%;
		}
	}

	.bottom-navigation{
		position: relative;
		margin-top: $bottom-navigation-margin-top;

		.card{
			background-color: $bottom-navigation-background-color;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 7;

			.prev{
				float: left;
			}

			.next{
				float: right;
			}
		}
	}
}

</style>
