<template>
<div>
    <v-navigation-drawer v-model="drawer" fixed clipped app>
        <v-list dense>
            <template v-if="user == ''">
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ lang.welcome }}</v-list-tile-title>
                        <v-list-tile-sub-title>{{ lang.appname }}</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-divider></v-divider>

                <v-list-tile :href="url + '/login'">
                    <v-list-tile-action>
                        <v-icon>fas fa-sign-in-alt</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.login }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile :href="url + '/register'">
                    <v-list-tile-action>
                        <v-icon>fas fa-user-plus</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.register }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile :href="'http://alterknowledge.com/'">
                    <v-list-tile-action>
                        <v-icon>fas fa-building</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.about_us }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>

            <template v-else>
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <v-icon>fas fa-user</v-icon>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ lang.welcome }}</v-list-tile-title>
                        <v-list-tile-sub-title v-if="user != ''">{{ user.name }}</v-list-tile-sub-title>
                        <v-list-tile-sub-title v-else>Guest</v-list-tile-sub-title>
                    </v-list-tile-content>

                    <v-list-tile-action>
                        <v-btn icon ripple :href="url + '/logout'">
                            <v-icon color="red">fas fa-sign-out-alt</v-icon>
                        </v-btn>
                    </v-list-tile-action>
                </v-list-tile>
                <v-divider></v-divider>

                <v-list-tile :href="url + '/domestic'">
                    <v-list-tile-action>
                        <v-icon>fas fa-map-marker-alt</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.home_dom }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile :href="url + '/international'">
                    <v-list-tile-action>
                        <v-icon>fas fa-globe</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.home_int }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile @click="openDialog('myshipments')">
                    <v-list-tile-action>
                        <v-icon>fas fa-truck</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.my_shipments }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile @click="openDialog('profile')">
                    <v-list-tile-action>
                        <v-icon>fas fa-address-book</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.profile }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <!-- <v-list-tile :href="'http://alterknowledge.com/'">
                    <v-list-tile-action>
                        <v-icon>fas fa-building</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.about_us }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile :href="url + '/page/help'">
                    <v-list-tile-action>
                        <v-icon>fas fa-info</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ lang.help }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile> -->
            </template>

        </v-list>
    </v-navigation-drawer>
    <v-toolbar dense fixed clipped-left app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <a :href="url" class="mx-3">
            <v-icon>fa fa-cubes</v-icon>
        </a>
        <v-toolbar-title class="align-center">
            <a :href="url">{{ lang.appname }}</a>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- <v-toolbar-items> -->
            <v-btn icon :href="url + '/lang/ja'" v-if="current_lang == 'en'">
                <v-avatar tile>
                    <span>{{ lang.language_ja }}</span>
                </v-avatar>
            </v-btn>
            <v-btn icon :href="url + '/lang/en'" v-else>
                <v-avatar tile>
                    <span>{{ lang.language_en }}</span>
                </v-avatar>
            </v-btn>
        <!-- </v-toolbar-items> -->
    </v-toolbar>

    <v-dialog v-model="dialog" max-width="500">
        <v-card>
            <v-card-text>
                <v-text-field v-model="password" required type="password" :label="lang.password" :error-messages="error_messages" :error="error"></v-text-field>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="info" flat @click="submitPassword">
                    {{ lang.submit }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "current_lang", "user"],

    data() {
        return {
            drawer: false,
            dialog: false,
            password: null,
            menu: null,
            error: false,
            error_messages: null
        };
    },

    computed: {
        
    },

    watch: {
        drawer(){
            if (this.drawer) {
                if (!this.isMobile()) {
                    $('main.content').css('padding-left', '300px');
                }
            }
            else {
                $('main.content').css('padding-left', '0');
            }
        }
    },

    mounted() {
        // window.addEventListener('resize', this.onResize);
        this.toggleDrawer();
    },

    created() {

    },

    methods: {
        isMobile () {
            return window.innerWidth < 1263;
        },
        toggleDrawer () {
            let mobile = this.isMobile()

            if (mobile) {
                this.drawer = false
            } 
            else {
                this.drawer = true
            }
        },
        openDialog(menu = null){
            this.resetDialogData();
            this.dialog = true;
            this.menu = menu;
        },
        submitPassword(){
            axios.post(this.url + "/checkpassword", {
                password: this.password
            })
            .then(({data}) => {
                if (data.status == 'success') {
                    this.resetDialogData();
                    if (this.menu == "profile") {
                        window.location = this.url + "/profile";
                    }
                    else if(this.menu == "myshipments") {
                        window.location = this.url + "/myshipments";
                    }
                    else {
                        this.dialog = false;
                        this.menu = null;
                    }
                }
                else {
                    this.error = true;
                    this.error_messages = data.message;
                }
            })
            .catch(function (error) {
                
            });
        },
        resetDialogData(){
            this.error_messages = [];
            this.error = false;
            this.password = null;
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

</style>