<template>
<div class="international-ems-module">
    <v-container fluid>
        <v-layout row wrap justify-center>
            <v-flex xs12>
                <h1>{{ lang.international_ems_title }}</h1>
            </v-flex>
            <v-flex md6 xs12>
                <div id="chartdiv"></div>
            </v-flex>
            <v-flex md6 xs12>
                <template v-if="selected_continent != null">
                    <div class="responsive-table">
                        <table class="table table-bordered table-hover" border="1">
                            <thead>
                            <tr>
                                <th colspan="8" style="background-color:#ff98a5;" class="text-xs-center">{{ lang.international_ems_table_title }} {{ continentName }})</th>
                            </tr>
                            </thead>
                            <tbody v-if="price_table != null">
                                <tr>
                                    <td class="text-xs-center">{{ lang.head_weight }}</td>
                                    <td class="text-xs-center">{{ lang.head_length }}</td>
                                    <td class="text-xs-center">{{ lang.head_total_size }}</td>
                                    <td class="text-xs-center">{{ lang.head_packed }}</td>
                                    <td class="text-xs-center">{{ lang.head_nonpacked }}</td>
                                </tr>
                                <tr v-for="(value, weight) in price_table" :key="weight">
                                    <td>≤{{ weight }}</td>
                                    <td>≤{{ value[0].length }}</td>
                                    <td>≤{{ value[0].totalsize }}</td>
                                    <template v-for="(price, index) in value">
                                        <td>¥{{ formatPrice(price.price) }}</td>
                                    </template>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="5" class="text-xs-center">{{ lang.no_data }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </template>
                <template v-else>
                    <v-alert :value="true" color="info" icon="info" outline>
                        {{ lang.select_continent }}
                    </v-alert>
                </template>
            </v-flex>
            <v-flex xs12>
                <h4 class="mt-3">{{ lang.international_cost_warning }}</h4>
                <ul>
                    <li>{{ lang.international_cost_warning1 }}</li>
                    <li>{{ lang.international_cost_warning2 }}</li>
                </ul>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang"],

    data() {
        return {
            map: null,
            selected_continent: null,
            price_table: null
        };
    },

    computed: {
        continentName(){
            var name = "-";
            if (this.selected_continent != null) {
                name = this.selected_continent.replace('_', ' ');
                name = name.toUpperCase();
            }
            return name;
        }
    },

    mounted() {
        this.initMap();
    },

    created() {
        
    },

    methods: {
        updateShippingInformation(){
            var obj = {};
            obj['selected_continent'] = this.selected_continent;
            this.$emit('updateShippingInformation', obj);
        },
        initMap(){
            var self = this;
            self.map = AmCharts.makeChart("chartdiv", {
                "type": "map",
                "theme": "light",
                "projection": "winkel3",
                "dataProvider": {
                    "map": "continentsLow",
                    "areas": [ {
                        "id": "africa",
                        "color": "#605675",
                    }, {
                        "id": "asia",
                        "color": "#a791b4",
                    }, {
                        "id": "australia",
                        "color": "#7f7891",
                    }, {
                        "id": "europe",
                        "color": "#9186a2",
                    }, {
                        "id": "north_america",
                        "color": "#868191",
                    }, {
                        "id": "south_america",
                        "color": "#8f7ea9",
                    } ]
                },
                "areasSettings": {
                    "selectedColor": "#CC0000",
                    "selectable": true
                },
                "listeners": [{
                    "event": "clickMapObject",
                    "method": function(e) {

                        if (e.mapObject.objectType !== "MapArea")
                            return;

                        for(var i = 0; i < self.map.dataProvider.areas.length; i++) {
                            self.map.dataProvider.areas[i].showAsSelected = false;
                            e.chart.returnInitialColor(self.map.dataProvider.areas[i]);
                        }

                        var area = e.mapObject;
                        area.showAsSelected = !area.showAsSelected;
                        e.chart.returnInitialColor(area);

                        self.getSelectedContinent();
                    }
                }]
            });
        },
        getSelectedContinent() {
            var selected = "";
            for(var i = 0; i < this.map.dataProvider.areas.length; i++) {
                if(this.map.dataProvider.areas[i].showAsSelected)
                    selected = this.map.dataProvider.areas[i].id;
            }
            this.selected_continent = selected;
            this.updateShippingInformation();
            this.fetchShippingCostReference();
        },
        fetchShippingCostReference(){
            axios.post(this.url + "/international_cost_reference", {
                area_id: this.selected_continent
            })
            .then(({data}) => {
                if (data.status == 'success') {
                    this.price_table = data.data;
                }
                else {
                    this.price_table = null;
                }
            })
            .catch(function (error) {
                
            });
        },
        formatPrice(value) {
            let val = (value/1);
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

.international-ems-module{
    #chartdiv{
        height: 400px;
    }

    .responsive-table{
        overflow-x: auto;

        table {
            th {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                height: auto;
                font-size: $domestic-cost-table-title;
            }

            td {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                height: auto;
            }
        }
    }
}
</style>
