<template>
<div class="international-destination-module">
    <v-container grid-list-md>
        <v-layout row wrap justify-center>
            <v-flex xs12>
                <h1>{{ lang.international_destination_title }}</h1>
            </v-flex>
            <v-flex md6 xs12>
                <v-menu ref="deliveryDate" :close-on-content-click="false" :nudge-right="40" :return-value.sync="destination_info.delivery_date" lazy transition="scale-transition" offset-y full-width min-width="290px">
                    <v-text-field slot="activator" v-model="destination_info.delivery_date" :label="lang.delivery_date" prepend-icon="event" readonly :error-messages="error_messages.errorDeliveryDate"></v-text-field>
                    <v-date-picker v-model="destination_info.delivery_date" @input="$refs.deliveryDate.save(destination_info.delivery_date)"></v-date-picker>
                </v-menu>
                <v-text-field v-model="destination_info.name" :label="lang.traveler_name" @input="updateShippingInformation"></v-text-field>
                <v-text-field v-model="destination_info.email" :label="lang.traveler_email" :error-messages="error_messages.errorEmail"></v-text-field>
                <v-text-field v-model="destination_info.tel" :label="lang.traveler_tel" @input="updateShippingInformation"></v-text-field>
            </v-flex>
            <v-flex md6>
                <v-select :items="filterCountries" item-text="name" item-value="id" v-model="destination_info.country" autocomplete :label="lang.country" class="input-group--focused" @change="updateShippingInformation"></v-select>
                <!-- <v-select :items="prefectures" item-text="name" item-value="id" v-model="destination_info.prefecture" autocomplete :label="lang.state" class="input-group--focused" @change="updateShippingInformation"></v-select> -->
                <v-layout row wrap>
                    <v-flex xs6>
                        <v-text-field v-model="destination_info.prefecture_name" :label="lang.state" @input="updateShippingInformation"></v-text-field>
                    </v-flex>
                    <v-flex xs6>
                        <v-text-field v-model="destination_info.city" :label="lang.city" @input="updateShippingInformation"></v-text-field>
                    </v-flex>
                </v-layout>
                <v-text-field textarea v-model="destination_info.address" :label="lang.destination_address" @input="updateShippingInformation"></v-text-field>
                <v-text-field v-model="destination_info.post_code" :label="lang.post_code" @input="updateShippingInformation"></v-text-field>
            </v-flex>
            <!-- <v-flex md3 xs12>
                <sidebar-shippinginformation :url="url" :lang="lang" :shipping_information="shipping_information"></sidebar-shippinginformation>
            </v-flex> -->
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "today", "countries", "prefectures", "shipping_information"],

    data() {
        return {
            destination_info: {
                country: "",
                country_name: "",
                prefecture: "",
                prefecture_name: "",
                city: "",
                address: "",
                post_code: "",
                tel: "",
                name: "",
                email: "",
                delivery_date: null,
                valid_form: false
            },
            error_messages: {
                errorDeliveryDate: [],
                errorEmail: []
            }
        };
    },

    computed: {
        filterCountries(){
            var code = "";
            if (this.shipping_information.selected_continent == "asia") {
                return this.countries.filter(country => {
                    return country.continent_code.toLowerCase().includes("as");
                });
            }
            else if (this.shipping_information.selected_continent == "europe") {
                return this.countries.filter(country => {
                    return country.continent_code.toLowerCase().includes("eu");
                });
            }
            else if (this.shipping_information.selected_continent == "north_america") {
                return this.countries.filter(country => {
                    return country.continent_code.toLowerCase().includes("na");
                });
            }
            else if (this.shipping_information.selected_continent == "south_america") {
                return this.countries.filter(country => {
                    return country.continent_code.toLowerCase().includes("sa");
                });
            }
            else if (this.shipping_information.selected_continent == "africa") {
                return this.countries.filter(country => {
                    return country.continent_code.toLowerCase().includes("af");
                });
            }
            else if (this.shipping_information.selected_continent == "australia") {
                return this.countries.filter(country => {
                    return country.continent_code.toLowerCase().includes("oc");
                });
            }
            else {
                return this.countries;
            }
        }
    },

    watch: {
        'destination_info.prefecture': function(){
            this.updatePrefectureName();
            this.updateShippingInformation();
        },
        'destination_info.country': function(){
            this.updateCountryName();
            this.updateShippingInformation();
        },
        'destination_info.delivery_date': function(){
            var minDate = this.minDeliveryDate(this.today);
            var d1 = new Date(minDate);
            var d2 = new Date(this.destination_info.delivery_date);
            if (d2 < d1) {
                this.error_messages.errorDeliveryDate = this.lang.error_international_delivery_date;
            }
            else{
                this.error_messages.errorDeliveryDate = [];
            }
            this.updateShippingInformation();
        },
        'destination_info.email': function(){
            var check = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(this.destination_info.email);
            if (!check) {
                this.error_messages.errorEmail = this.lang.email_must_valid;
            }
            else {
                this.error_messages.errorEmail = [];
            }
            this.updateShippingInformation();
        }
    },

    mounted() {

    },

    created() {

    },

    methods: {
        updateShippingInformation(){
            if (this.error_messages.errorEmail.length > 0 ||
                this.error_messages.errorDeliveryDate.length > 0) {
                this.destination_info.valid_form = false;
            }
            else {
                this.destination_info.valid_form = true;
            }
            var obj = {};
            obj['destination_info'] = this.destination_info;
            this.$emit('updateShippingInformation', obj);
        },
        updatePrefectureName(){
            var prefId = this.destination_info.prefecture;
            for (var i = 0; i < this.prefectures.length; i++) {
                var pref = this.prefectures[i];
                if (parseInt(this.destination_info.prefecture) == parseInt(pref.id)) {
                    this.destination_info.prefecture_name = pref.name;
                    break;
                }
            }
        },
        updateCountryName(){
            var countryId = this.destination_info.country;
            for (var i = 0; i < this.countries.length; i++) {
                var country = this.countries[i];
                if (parseInt(this.destination_info.country) == parseInt(country.id)) {
                    this.destination_info.country_name = country.name;
                    break;
                }
            }
        },
        formatDate(date){
            var dd = date.getDate();
            if (parseInt(dd) < 10) {
                dd = "0"+dd.toString();
            }
            var mm = date.getMonth() + 1;
            if (parseInt(mm) < 10) {
                mm = "0"+mm.toString();
            }
            var y = date.getFullYear();

            var formattedDate = y + '-' + mm + '-' + dd;
            return formattedDate;
        },
        minDeliveryDate(){
            var result = new Date(this.today);
            result.setDate(result.getDate() + 10);
            var formattedDate = this.formatDate(result);

            return formattedDate;
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

</style>
