<template>
<div class="login-module">
    <v-container grid-list-md>
        <v-layout row wrap justify-center>
            <v-flex md8 xs12>
                <h1 class="mb-5 mt-3">{{ lang.login }}</h1>
                <v-form ref="formLogin" v-model="validForm" lazy-validation>
                    <v-text-field v-model="email" required autofocus :rules="[rules.required, rules.validEmail]" :label="lang.email_address" :error-messages="errorMessage.email"></v-text-field>
                    <v-text-field v-model="password" required type="password" :rules="[rules.required]" :label="lang.password" :error-messages="errorMessage.password"></v-text-field>
                </v-form>
                <v-btn :disabled="!validForm" @click="submit">{{ lang.login }}</v-btn>
                <v-btn :href="url + '/password/reset'">{{ lang.forgot_your_password }}</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang"],

    data() {
        return {
            validForm: true,
            email: "",
            password: "",
            rules: {
                required: value => !!value || this.lang.email_required,
                validEmail: value =>  /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) || this.lang.email_must_valid,
            },
            errorMessage: {
                email: [],
                password: [],
            }
        };
    },

    computed: {

    },

    mounted() {

    },

    created() {

    },

    methods: {
        submit () {
            var self = this;
            if (this.$refs.formLogin.validate()) {
                axios.post(this.url + "/login", {
                    email: this.email,
                    password: this.password,
                })
                .then(({data}) => {
                    window.location.href = self.url;
                })
                .catch(function (error) {
                    self.errorMessage.email = [];
                    self.errorMessage.password = [];
                    if (error.response.data.email != null) {
                        self.errorMessage.email = error.response.data.email;    
                    }
                    if (error.response.data.password != null) {
                        self.errorMessage.password = error.response.data.password; 
                    }
                });
            }
        },
        clear () {
            this.$refs.formLogin.reset()
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";


</style>