<template>
	<div>
		<v-toolbar flat color="white">
			<v-toolbar-title><h1>{{ lang.my_shipments }}</h1></v-toolbar-title>
			<v-spacer></v-spacer>
			<v-text-field
			v-model="search"
			append-icon="search"
			label="Search"
			single-line
			hide-details
			></v-text-field>
		</v-toolbar>
		<v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
			<v-card>
				<v-toolbar dark color="primary">
					<v-btn icon dark @click.native="dialog = false">
						<v-icon>close</v-icon>
					</v-btn>
					<v-toolbar-title>{{ detailItem.shop_name }}</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-toolbar-title>{{ detailItem.record_id }}</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn icon dark @click="deleteItem(detailItem)"><v-icon>delete</v-icon></v-btn>
				</v-toolbar>

				<v-layout row wrap>
					<v-flex md6 xs12>
						<v-card-text>
							<v-card-title primary-title>
								<div style="width:100%">
									<h3 class="headline mb-0"><b>{{ lang.package_info }}</b></h3>
									<div>
										<span class="grey--text">{{ lang.shipping_code }}</span><br>
										<p>{{ detailItem.record_id }}</p>
										<span class="grey--text" v-if="detailItem.delivery_date">{{ lang.delivery_date }}</span><br>
										<p v-if="detailItem.delivery_date">{{ detailItem.delivery_date }}</p>
										<span class="grey--text">{{ lang.head_weight }}</span><br>
										<p>{{ detailItem.total_weight }}</p>
										<span class="grey--text">{{ lang.head_total_size }}</span><br>
										<p>{{ detailItem.total_size }}</p>
									</div>
								</div>
							</v-card-title>
						</v-card-text>

						<v-card-text>
							<v-card-title primary-title>
								<div style="width:100%">
									<h3 class="headline mb-0"><b>{{ lang.items_info }}</b></h3>
									<div v-if="detailItem.items != null">
										<table style="width:100%">
											<tr>
												<th class="text-xs-left">{{ lang.head_contentitems }}</th>
												<th class="text-xs-left">{{ lang.head_unit_price }}</th>
												<th class="text-xs-left">{{ lang.head_unit_pieces }}</th>
												<th class="text-xs-right">{{ lang.head_total_price }}</th>
											</tr>
											<tr v-for="(item, index) in detailItem.items">
												<td>{{ item.name }}</td>
												<td>{{ formatPrice(item.price) }}</td>
												<td>{{ item.piece }}</td>
												<td class="text-xs-right">{{ formatPrice(item.price * item.piece) }}</td>
											</tr>
											<tr>
												<td colspan="3" class="text-xs-right"><b>{{ lang.head_grand_total_price }}</b></td>
												<td class="text-xs-right"><b>{{ formatPrice(detailItem.item_grand_total) }}</b></td>
											</tr>
										</table>
									</div>
									<div v-else>
										{{ lang.no_data }}
									</div>
								</div>
							</v-card-title>
						</v-card-text>

						<v-card-text>
							<v-card-title primary-title>
								<div style="width:100%">
									<h3 class="headline mb-0"><b>{{ lang.payment }}</b></h3>
									<span class="grey--text">{{ lang.payment_method }}</span><br>
									<p>{{ detailItem.payment_method }}</p>
								</div>
							</v-card-title>
						</v-card-text>

					</v-flex>

					<v-flex md6 xs12>
						<v-card-text>
							<v-card-title primary-title>
								<div style="width:100%">
									<h3 class="headline mb-0"><b>{{ lang.destination }}</b></h3>
									<span class="grey--text">{{ lang.name }}</span><br>
									<p>{{ detailItem.destination_name }}</p>
									<span class="grey--text">{{ lang.address }}</span><br>
									<p>{{ detailItem.destination_address }}</p>
									<p>{{ detailItem.destination_city }}</p>
									<p>{{ detailItem.destination_state }}</p>
									<p>{{ detailItem.destination_post_code }}</p>
									<span class="grey--text">{{ lang.tel }}</span><br>
									<p>{{ detailItem.destination_customer_tel }}</p>
									<span class="grey--text">{{ lang.country }}</span><br>
									<p>{{ detailItem.destination_customer_country }}</p>
								</div>
							</v-card-title>
						</v-card-text>
					</v-flex>
				</v-layout>
			</v-card>
		</v-dialog>

		<v-data-table
		:headers="headers"
		:items.sync="myshipments"
		:pagination.sync="pagination"
		:total-items="totalmyshipments"
		:loading="loading"
		:search="search"
		class="elevation-1"
		>
		<template slot="items" slot-scope="props">
			<td @click="openDialog(props.item)">{{ props.index +1 }}</td>
			<td @click="openDialog(props.item)">{{ props.item.date }}</td>
			<td @click="openDialog(props.item)">{{ props.item.type }}</td>
			<td @click="openDialog(props.item)">{{ props.item.record_id }}</td>
			<td @click="openDialog(props.item)">{{ props.item.shop_name }}</td>
			<td class="justify-center layout px-0">
				<v-btn
				icon
				flat
				color="black"
				@click="deleteItem(props.item)"
				>
					<v-icon>delete</v-icon>
				</v-btn>
			</td>
		</template>
		<v-alert slot="no-results" :value="true" color="error" icon="warning">
			{{ lang.search_error1 }} "{{ search }}" {{ lang.search_error2 }}.
		</v-alert>
	</v-data-table>
</div>
</template>

<script>
export default {
	props: ["lang"],
	data() {
		return {
			counter: 0,
			search: '',
			dialog: false,
			headers: [
			{
				text: 'No',
				align: 'left',
				sortable: false,
				value: 'id'
			},
			{ text: this.lang.order_date, value: 'date' },
			{ text: this.lang.type, value: 'type' },
			{ text: this.lang.shipping_code, value: 'record_id' },
			{ text: this.lang.shop_name, value: 'shop_name' },
			{ text: this.lang.actions, sortable: false },
			],
			myshipmentdata: [],
			myshipments: [],
			totalmyshipments: 0,
			defaultItem: {
				id: '',
				date: 0,
				type: 0,
				record_id: 0,
				shop_name: ''
			},
			detailItem:{
				date: 0,
				type: 0,
				record_id: 0,
				shop_name: ''
			},
			pagination: {},
			loading: true,
			endpoint: '/getmyshipments',
			delete_endpoint: '/deleteShipment'
		}
	},

	watch: {
		pagination: {
			handler () {
				this.getDataFromApi()
				.then(data => {
					this.myshipments = data.items
					this.toatlmyshipments = data.total
				})
			},
			deep: true
		},
		items: {
			handler () {
				console.log('changed')
			},
			deep: true
		}
	},

	mounted () {
		this.getDataFromApi()
		.then(data => {
			this.myshipments = data.items
			this.totalmyshipments = data.total
		})
	},

    // created () {
    //   this.initialize()
    // },

    methods: {
    	getDataFromApi(){
    		this.loading = true
    		return new Promise((resolve, reject) => {
    			const { sortBy, descending, page, rowsPerPage } = this.pagination.descending

    			let items = this.getMyshipments()
    			const total = items.length

    			if (this.pagination.sortBy) {
    				items = items.sort((a, b) => {
    					const sortA = a[sortBy]
    					const sortB = b[sortBy]
    					if (descending) {
    						if (sortA < sortB) return 1
    							if (sortA > sortB) return -1
    								return 0
    						} else {
    							if (sortA < sortB) return -1
    								if (sortA > sortB) return 1
    									return 0
    							}
    						})
    			}

    			if (rowsPerPage > 0) {
    				items = items.slice((page - 1) * rowsPerPage, page * rowsPerPage)
    			}

    			setTimeout(() => {
    				this.loading = false
    				resolve({
    					items,
    					total
    				})
    			}, 1000)
    		})
    	}, 

    	getMyshipments () {
    		axios.get(this.endpoint)
    		.then(({data}) => {
    			this.myshipmentdata = data
    		});

    		return this.myshipmentdata
        	// return JSON.parse(this.myshipmentdata)
    	},

	    openDialog(item){
	    	this.detailItemIndex = this.myshipments.indexOf(item)
	    	this.detailItem = Object.assign({}, item)
	    	this.dialog = true
	    },
	    deleteItem(item){
	        // const index = this.myshipments.indexOf(item)

	        if (confirm(this.lang.delete_shipping_confirm_msg)) {
	        	axios.post(this.delete_endpoint + '/' + item.type + '/' + item.id, {
	        		data: this.item
	        	}).then(response => {
	        		this.dialog = false
	        		this.myshipments = this.getmyshipments
	            	// this.getMyshipments()
	            	this.getDataFromApi()
	        	}).catch(error => {
	        		console.log(error)
	        	})
	          	// this.myshipments.splice(index, 1)
	      	}
	  	},
        formatPrice(value) {
            let val = (value/1);
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }

		// editItem (item) {
		// 	this.editedIndex = this.desserts.indexOf(item)
		// 	this.editedItem = Object.assign({}, item)
		// 	this.dialog = true
		// },

		// deleteItem (item) {
		// 	const index = this.desserts.indexOf(item)
		// 	confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
		// },

		// close () {
		// 	this.dialog = false
		// 	setTimeout(() => {
		// 		this.editedItem = Object.assign({}, this.defaultItem)
		// 		this.editedIndex = -1
		// 	}, 300)
		// },

		// save () {
		// 	if (this.editedIndex > -1) {
		// 		Object.assign(this.desserts[this.editedIndex], this.editedItem)
		// 	} else {
		// 		this.desserts.push(this.editedItem)
		// 	}
		// 	this.close()
		// }
  	}
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";


</style>