<template>
<div id="profile-module">
    <v-container>
        <v-layout row wrap>
            <v-flex xs12>
                <v-card class="pa-3">
                    <blockquote class="blockquote"><h1>{{ lang.profile }}</h1></blockquote>
                    <v-layout row wrap ml-4 mr-4>
                        <v-flex xs12>
                            <v-form ref="form1" v-model="valid1" lazy-validation>
                                <v-text-field :label="lang.name" required v-model="profile.name" :rules="[rules.required]"></v-text-field>
                                <v-text-field :label="lang.email" disabled v-model="profile.email"></v-text-field>
                            </v-form>
                            <v-btn color="success" @click="dialog = true">{{ lang.change_password }}</v-btn>
                            <v-btn color="info" @click="submit('basic')">{{ lang.submit }}</v-btn>
                        </v-flex>
                    </v-layout>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>

    <v-dialog v-model="dialog" width="500">
        <v-card class="pa-3">
            <v-card-title primary-title>
                <v-layout row wrap>
                    <v-flex xs12>
                        <h3>{{ lang.change_password }}</h3>
                        <v-form ref="form2" v-model="valid2" lazy-validation>
                            <v-text-field v-model="profile.password" :append-icon="showPassword ? 'visibility_off' : 'visibility'" :append-icon-cb="() => (showPassword = !showPassword)" :rules="[rules.required, rules.min, rules.passwordMatch]" :type="showPassword ? 'text' : 'password'" :label="lang.password" @click:append="showPassword = !showPassword"></v-text-field>
                            <v-text-field v-model="profile.confirm_password" :append-icon="showConfirmPassword ? 'visibility_off' : 'visibility'" :append-icon-cb="() => (showConfirmPassword = !showConfirmPassword)" :rules="[rules.required]" :type="showConfirmPassword ? 'text' : 'password'" :label="lang.confirm_password" @click:append="showConfirmPassword = !showConfirmPassword"></v-text-field>
                        </v-form>
                    </v-flex>
                </v-layout>
            </v-card-title>
            <v-card-actions>
                <v-btn flat color="green" @click="submit('password')">{{ lang.submit }}</v-btn>
                <v-btn flat color="red" @click="dialog = false">{{ lang.close }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-snackbar :timeout="snackbarTimeout" :top="snackbarTop" v-model="showSnackbar">
        {{ snackbarMessage }}
        <v-btn flat color="pink" @click.native="showSnackbar = false">{{ lang.close }}</v-btn>
    </v-snackbar>
</div>
</template>

<script>
export default {
    props: ["user", "lang", "url"],

    data() {
        return {
            profile: {
                name: this.user.name,
                email: this.user.email,
                password: "",
                confirm_password: ""
            },
            dialog: false,
            showPassword: false,
            showConfirmPassword: false,
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 6 || 'Min 6 characters',
                passwordMatch: () => {
                    if (this.profile.password != this.profile.confirm_password) {
                        return this.lang.rule_password_not_match;
                    }
                    else {
                        return true
                    }
                }
            },
            valid1: true,
            valid2: true,
            snackbarTop: true,
            snackbarTimeout: 3000,
            showSnackbar: false,
            snackbarMessage: "",
        };
    },

    computed: {
        
    },

    watch: {

    },

    mounted() {

    },

    created() {

    },

    methods: {
        submit(type){
            if (type == "basic") {
                if (this.$refs.form1.validate()) {
                    axios.post('/profile/edit', {
                        type: "basic",
                        data: this.profile
                    })
                    .then(({data}) => {
                        if (data.status == "success") {

                        }
                        this.snackbarMessage = data.message;
                        this.showSnackbar = true;
                    })
                    .catch(function (error) {

                    });
                }
            }
            else {
                if (this.$refs.form2.validate()) {
                    axios.post('/profile/edit', {
                        type: "password",
                        data: this.profile
                    })
                    .then(({data}) => {
                        if (data.status == "success") {

                        }
                        this.snackbarMessage = data.message;
                        this.showSnackbar = true;
                    })
                    .catch(function (error) {

                    });
                }
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";

</style>