<template>
<div class="login-module">
    <v-container grid-list-md>
        <v-layout row wrap justify-center>
            <v-flex md8 xs12>
                <h2>{{ lang.register }}</h2>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-form ref="form" v-model="valid" lazy-validation>
                            <v-text-field v-model="name" autofocus :rules="nameRules" :label="lang.name" required></v-text-field>
                            <v-text-field v-model="email" :rules="emailRules" :label="lang.email_address" :error-messages="errorMessage.email" required></v-text-field>
                            <v-text-field v-model="password" type="password" :rules="passwordRules" :label="lang.password" :error-messages="errorMessage.password" required></v-text-field>
                            <v-text-field v-model="confirmPassword" type="password" :rules="confirmPasswordRules" :label="lang.confirm_password" required></v-text-field>
                            <v-btn :disabled="!valid" @click="submit">{{ lang.register }}</v-btn>
                        </v-form>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-container>
</div>
</template>

<script>
export default {
    props: ["url", "lang"],

    data() {
        return {
            valid: true,
            name: '',
            nameRules: [
                v => !!v || this.lang.name_required,
            ],
            email: '',
            emailRules: [
                v => !!v || this.lang.email_required,
                v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || this.lang.email_must_valid
            ],
            password: '',
            passwordRules: [
                v => !!v || this.lang.password_required,
            ],
            confirmPassword: '',
            confirmPasswordRules: [
                v => !!v || this.lang.confirm_password_required,
            ],
            errorMessage: {
                email: [],
                password: [],
            },
            shop_name: '',
        };
    },

    computed: {

    },

    mounted() {

    },

    created() {

    },

    methods: {
        submit () {
            var self = this;
            if (this.$refs.form.validate()) {
                axios.post(this.url + "/register", {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.confirmPassword,
                    shop_name: this.shop_name
                })
                .then(({data}) => {
                    window.location.href = self.url;
                })
                .catch(function (error) {
                    self.errorMessage.email = [];
                    self.errorMessage.password = [];
                    if (error.response.data.email != null) {
                        self.errorMessage.email = error.response.data.email;    
                    }
                    if (error.response.data.password != null) {
                        self.errorMessage.password = error.response.data.password; 
                    }
                });
            }
        },
        clear () {
            this.$refs.form.reset()
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";


</style>