<template>
<div id="selectshop-module">
	<v-dialog v-model="dialog" max-width="500" persistent>
		<v-card>
			<v-card-title primary-title>
				<h1>{{ lang.select_store_title }}</h1>
			</v-card-title>

			<v-card-text>
				<template v-if="shops.length > 0">
					<v-select
					  prepend-icon="store"
				      :items="shops" 
				      :label="lang.select_store_placeholder" 
				      item-text="name" 
				      item-value="id" 
				      v-model="selectedshop" 
				      autocomplete
				    ></v-select>
				</template>
				<template v-else>
					<v-form ref="formShop" v-model="valid" lazy-validation>
						<v-text-field v-model="shop_name" required autofocus :rules="[rules.required]" :label="lang.shop_name"></v-text-field>
					</v-form>
				</template>
			    <v-alert
			    :value="true"
			    color="info"
			    icon="info"
			    outline
			    >
				    <b>※ {{ lang.select_store_alert_title }}</b><br/><br/>
				    <b>岩崎　学 / Manabu Iwasaki</b><br/>
				    〒150-0046 東京都渋谷区松濤1-9-13 / 1-9-13,Shoto,Shibuya-ku,Tokyo PO150-0046 -JAPAN<br/>
				    {{ lang.email }}  : iwasaki@alterknowledge.com<br/>
				    {{ lang.tel }}  : 03(5738)7628 (平日9:00~18:00)
				</v-alert>
			</v-card-text>

			<v-divider></v-divider>

			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn @click="submit" :disabled="selectedshop == null" color="info" v-if="shops.length > 0">{{ lang.submit }}</v-btn>
				<v-btn @click="submit" :disabled="!valid" color="info" v-else>{{ lang.submit }}</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</div>
</template>

<script>
export default {
	props: ['lang', 'shops', 'url'],
	data() {
		return {
			selectedshop: null,
			shop_name: "",
			dialog: true,
            rules: {
                required: value => !!value || this.lang.shop_name_required,
            },
            valid: false
		}
	},

	created(){

	},

	methods: {
		submit(){
			if (this.shops.length > 0) {
				axios.post(this.url + '/saveselectedshop', {
	        		shop_id: this.selectedshop
	        	}).then(response => {
	        		if (response.data.status == 'success') {
	        			window.location = this.url;
	        		}
	        		else {

	        		}
	        	}).catch(error => {
	        		console.log(error)
	        	})
			}
			else {
				if (this.$refs.formShop.validate()) {
					axios.post(this.url + '/newshop', {
		        		shop_name: this.shop_name
		        	}).then(response => {
		        		if (response.data.status == 'success') {
		        			window.location = this.url;
		        		}
		        		else {

		        		}
		        	}).catch(error => {
		        		console.log(error)
		        	})
				}
			}
		}
	}
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";


</style>