<template>
<div class="sidebar-shippinginformation-module">
    <v-layout row wrap justify-center>
        <v-flex xs12>
            <h4 class="mb-3">{{ lang.shipping_information }}</h4>
            
            <template v-if="shipping_information.size != null">
                <h4>{{ lang.packing_status_title }}</h4>
                <p>
                    {{ lang.size }}: {{ shipping_information.size }}cm<sup>3</sup>
                    <br>{{ lang.weight }}: {{ shipping_information.weight }}kg
                    <br>{{ lang.head_packed }}: {{ shipping_information.packing_status == 1 ? '✔ ' : '-' }}
                </p>
            </template>

            <template v-if="shipping_information.items_grand_total != null">
                <h4>{{ lang.items_info }}</h4>
                <p>
                    {{ lang.quantity }}: {{ shipping_information.items_total_qty }}
                    <br>{{ lang.grand_total }}: ¥{{ formatPrice(shipping_information.items_grand_total) }}
                </p>
            </template>
            
            <template v-if="shipping_information.destination_info != null">
                <h4>{{ lang.address_info }}</h4>
                <p v-if="shipping_information.destination_type == 'address'">
                    {{ shipping_information.destination_info.name }} ({{ shipping_information.destination_info.email }})
                    <br>{{ shipping_information.destination_info.address }}
                    <br>{{ shipping_information.destination_info.prefecture_name }}
                    <template v-if="shipping_information.shipping_type == 'domestic'">
                        <br>{{ shipping_information.destination_info.company_name }}
                    </template>
                    <template v-else>
                        <br>{{ shipping_information.destination_info.country_name }}
                    </template>
                    <br>{{ shipping_information.destination_info.post_code }}
                    <br>{{ shipping_information.destination_info.tel }}
                </p>
                <p v-else>
                    {{ shipping_information.destination_info.airport_name }}
                    <br>{{ shipping_information.destination_info.airport_address }}
                    <br>{{ shipping_information.destination_info.airport_tel }}
                    <br>{{ shipping_information.destination_info.airport_postcode }}
                    <br>Flight no: {{ shipping_information.destination_info.flight_number }}
                    <br>Departure Time: {{ shipping_information.destination_info.departure_date}} {{ shipping_information.destination_info.departure_time }}
                </p>
            </template>
            
            <template v-if="shipping_information.payment_method != ''">
                <h4>{{ lang.payment_method }}</h4>
                <p>{{ shipping_information.payment_method }}</p>      
            </template>

            <template v-if="shipping_information.destination_info != null">
                <h4>{{ lang.delivery_date }}</h4>
                <p>{{ shipping_information.destination_info.delivery_date }}</p>
            </template>
        </v-flex>
    </v-layout>
</div>
</template>

<script>
export default {
    props: ["url", "lang", "shipping_information"],

    data() {
        return {
            
        };
    },

    computed: {
        
    },

    mounted() {

    },

    created() {

    },

    methods: {
        formatPrice(value) {
            let val = (value/1);
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        }
    }
}
</script>

<style lang="scss" scoped>
@import "../../sass/_variables.scss";
@import "../../sass/_layouts.scss";


</style>