html, body{
	font-size: $font-size-base;
}

h1{
	border-left: solid 10px $nuance-color;
	padding-left: $h1-padding-left;
}

a{
	text-decoration: none;
	color: $dark-color;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
}

.hide{
	display: none;
}