// Toolbar
.toolbar{
	a{
		color: $toolbar-link-color;
	}
}

// Bottom Navigation
.bottom-navigation{
	.card {
		height: $bottom-navigation-height !important;
	}
}

// Stepper
.stepper{
	box-shadow: none;
}

// Home
#home{
	height: 100%;
	.home-container{
		padding-top: 50px;
	}
	.btn{
	// 	margin-bottom: $home-btn-margin-bottom;
	// 	background-color: $bottom-navigation-background-color;
	// 	color: $light-color;
		// height: $home-btn-height;
	// 	font-size: $home-btn-font-size;
	}
}

// Domestic
.domestic{
	h1 {
		margin-bottom: $domestic-h1-margin-bottom;
	}
}

// International
.international{
	h1 {
		margin-bottom: $international-h1-margin-bottom;
	}
}

// Floating Action Button
.btn--bottom.btn--floating{
	bottom: $bottom-navigation-height + 12px;
}

.rules-table{
	margin-left: 15px;
	td{
		padding: 10px;
		white-space: nowrap;
	}
}

.international-rules-module{
	p{
		margin-top: 20px;
	}
}