
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Colors
$dark-color: #000000;
$light-color: #ffffff;
$toolbar-link-color: #777777;
$nuance-color: #42A5F5;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$h1-padding-left: 20px;

// Navbar
$navbar-default-bg: #fff;

// Bottom Navigation
$bottom-navigation-height: 48px;
$bottom-navigation-background-color: #012530;
$bottom-navigation-margin-top: 100px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Home
$home-btn-height: 100px;
$home-btn-margin-bottom: 50px;
$home-btn-font-size: 2.2rem;

// Domestic
$domestic-h1-margin-bottom: 30px;
$domestic-cost-table-title: 1.5rem;
$domestic-cost-table-td-width: 6rem;

// International
$international-h1-margin-bottom: 30px;
